/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Roboto';
}

html {
  background-color: black;
}

:root {
  --soundc-orange:#ff7700;
  --sub-text:rgb(152, 152, 152);
  --drop-shadow:rgba(125, 122, 122, 0.3);
  --drop-shadow2:rgba(205, 205, 205, 0.3);
}


/* header styling */
header {
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding: .5em 0 .5em 0;
  margin-bottom:1em;
}

header > a > img {
  padding-left: 1em;
  color:white;
  width: 5em;
}

/* logo animation */
@keyframes logo-animation {
  0% {
    transform: scale(1)
  }
  50% {
    transform:scale(2)
  }
  100% {
    transform:scale(1)
  }
}

.body2 header > a:active, 
.body2 header > a:hover {
  animation-name:logo-animation;
  animation-duration:1s;
}

/* header button styling */
header > button {
  background-color:var(--soundc-orange);
  padding: .5em 1em .5em 1em;
  border:none;
  border-radius: .5em;
  font-size: 1.1em;
  color:white;
  margin-left:40%;
  cursor:pointer;
} 

header > button:hover, 
header > button:focus, 
header > button:active {
  background-color: rgb(255, 255, 255);
  color:var(--soundc-orange);
}

/* navigation bar styling */
header > nav > ul {
  padding:.5em;
  background-color:var(--soundc-orange);
  display:flex;
  justify-content: space-around;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
}

nav > ul > li > a > img {
  width:2em;
}

/* main styling */
main {
  margin: 0 1em 0 1em;
}

/* algemene section styling */
section {
  line-height: 2em;
  margin-bottom:2em; 

}

/* algemene h1 styling */
h1 {
  color:white;
}

/* algemene h2 styling */
h2 {
  font-size:1.5em;
  color:white;
  font-weight: bold;
  line-height: 1.5em;
}

/* algemene h3 styling */
h3 {
  padding-top:1em;
  color:white;
  font-weight:bold;
  line-height:1em;
}

/* algemene h4 styling */
h4 {
  color:white;
}

/* algemene p styling */
p {
  color:var(--sub-text);
  padding-bottom: 1em;
  line-height:1.2em;
}

a {
  color: white;
}

/* algemene ul styling */
ul {
  list-style-type: none;
}


/* HOME PAGINA CSS */


/* eerste section styling */
.body1 section:nth-of-type(1) ul {
  display:flex;
  overflow-x:auto;
  padding-bottom: 2em;
}

.body1 section:nth-of-type(1) li {
  padding-right:2em;
  display:flex;
  flex-direction:column;
}

.body1 section:nth-of-type(1) a {
  order:-1;
}

.body1 section:nth-of-type(1) img {
  width: 9em;
  border-radius:.5em;
  box-shadow: .3em .3em var(--drop-shadow), .6em .6em var(--drop-shadow2);
}

/* tweede section styling */
.body1 section:nth-of-type(2) ul {
  display:flex;
  overflow-x:auto;
  padding-bottom: 2em;
}

.body1 section:nth-of-type(2) li {
  padding-right:2em;
  display:flex;
  flex-direction:column;
}

.body1 section:nth-of-type(2) a {
  order:-1;
}

.body1 section:nth-of-type(2) img {
  width: 9em;
  border-radius:.5em;
  box-shadow: .3em .3em var(--drop-shadow), .6em .6em var(--drop-shadow2);
}

/* derde section styling */
.body1 section:nth-of-type(3) {
 background-image:linear-gradient(to right, var(--soundc-orange), rgb(72, 152, 72));
 border-radius:.7em;
 padding:1em;
 margin:1em .5em 2em .5em;
}

.body1 section:nth-of-type(3) h2 {
  color:white;
  font-size:1.2em;
  line-height:2em;
 }

.body1 section:nth-of-type(3) p {
   color:white;
   line-height:1.5em;
 }

/* vierde section syling */
.body1 section:nth-of-type(4) ul {
  display:flex;
  overflow-x:auto;
  padding-bottom: 2em;
}

.body1 section:nth-of-type(4) li {
  padding-right:2em;
  display:flex;
  flex-direction:column;
}

.body1 section:nth-of-type(4) a {
  order:-1;
}

.body1 section:nth-of-type(4) img {
  width: 9em;
  border-radius:.5em;
  box-shadow: .3em .3em var(--drop-shadow), .6em .6em var(--drop-shadow2);
}

/* vijfde section syling */
.body1 section:nth-of-type(5) ul {
  display:flex;
  overflow-x:auto;
}

.body1 section:nth-of-type(5) li {
  padding-right:2em;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;;
}

.body1 section:nth-of-type(5) a {
  order:-1;
}

.body1 section:nth-of-type(5) h2 {
  padding-bottom:.2em;
}

.body1 section:nth-of-type(5) img {
  width: 9em;
  margin-top: .5em;
}

.body1 section:nth-of-type(5) h3, 
.body1 section:nth-of-type(5) p {
  text-align:center;
  padding:0;
  margin-bottom:.5em;
}

.body1 section:nth-of-type(5) button {
  width:fit-content;
  
  color:white;
  background-color:var(--soundc-orange);
  padding: .5em 1em .5em 1em;
  border-radius: .5em;
  border:none;
  margin-bottom:1.5em;
  cursor:pointer;
}

@keyframes button-animation {
  0% {
    padding: .5em 1em .5em 1em;
  }

  80% {
    padding: .5em 3em .5em 3em;
  }

  100% {
    padding: .5em 1em .5em 1em;
  }  
}

.body1 section:nth-of-type(5) button:active, 
.body1 section:nth-of-type(5) button:hover, 
.body1 section:nth-of-type(5) button:focus {
  animation-name:button-animation;
  animation-duration:1s;
  animation-iteration-count:1;

}

/* footer styling (zelfde voor beide paginas) */
footer {
  padding:1em 1em 4em 1em;
}

footer > h2 {
  font-weight:normal;
  margin-bottom:.5em;
}

footer > ul {
  margin:1em 0 2em 0;
  display:flex;
  flex-direction:column;
}

footer > ul > li > a {
  text-decoration: none;
  color: white;
  line-height:2em;
}

footer > ul > li > a:hover, 
footer > ul > li > a:focus, 
footer > ul > li > a:active {
  color:var(--soundc-orange);
  outline:none;
}

/* TWEEDE PAGINA CSS */

/* eerste section styling */


/* vierde section styling */
.body2 section:nth-of-type(4) ul {
  display:flex;
  overflow-x:auto;
  padding-bottom: 2em;
}

.body2 section:nth-of-type(4) li {
  padding-right:2em;
  display:flex;
  flex-direction:column;
}

.body2 section:nth-of-type(4) a {
  order:-1;
}

.body2 section:nth-of-type(4) img {
  width: 9em;
  border-radius:.5em;
  box-shadow: .3em .3em var(--drop-shadow), .6em .6em var(--drop-shadow2);
}

/* sesde section syling */
.body2 section:nth-of-type(6) ul {
  display:flex;
  overflow-x:auto;
}

.body2 section:nth-of-type(6) li {
  padding-right:2em;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;;
}

.body2 section:nth-of-type(6) a {
  order:-1;
}

.body2 section:nth-of-type(6) h2 {
  padding-bottom:.2em;
}

.body2 section:nth-of-type(6) img {
  width: 9em;
  margin-top: .5em;
}

.body2 section:nth-of-type(6) h3, 
.body2 section:nth-of-type(6) p {
  text-align:center;
  padding:0;
  margin-bottom:.5em;
}

.body2 section:nth-of-type(6) button {
  width:fit-content;
  
  color:white;
  background-color:var(--soundc-orange);
  padding: .5em 1em .5em 1em;
  border-radius: .5em;
  border:none;
  margin-bottom:1.5em;
  cursor:pointer;
}

@keyframes button-animation {
  0% {
    padding: .5em 1em .5em 1em;
  }

  80% {
    padding: .5em 3em .5em 3em;
  }

  100% {
    padding: .5em 1em .5em 1em;
  }  
}

.body2 section:nth-of-type(6) button:active, 
.body2 section:nth-of-type(6) button:hover, 
.body2 section:nth-of-type(6) button:focus {
  animation-name:button-animation;
  animation-duration:1s;
  animation-iteration-count:1;

}
